:root{
    --negro:#000;
    --blanco:#fff;
    --celeste:#02b6d4;
}

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000;
}
/* El navbar queda encima del carousel */
.custom-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
}
/* El carousel ocupa toda la pantalla */
.carousel,
.carousel-item{
    height: 100vh;
}

.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-logo{
    width: 50px;
    height: 50px;
}
.container-quienes-somos{
    background-color: var(--negro);
}
.container-destacados{
    background-color: var(--negro);
}
.title-somos{
    color: var(--blanco);
}
.container-icon{
    background-color: var(--celeste);
    display: flex;
    justify-content: center;
}
/* Ocultar li de quienes somos en mobile*/
@media (max-width: 768px) {
  .ocultar-mobile {
    display: none;
  }
}
/*margen del scroll*/
section{
  scroll-margin-top: 80px;
}
.card-color{
background-color:var(--celeste) ;
}
.card-img-top {
  height: 200px;      /* ajusta a tu diseño */
  object-fit: cover;  /* recorta sin deformar */
}
.cont-footer{
    background-color: var();
}


#footer-section{
    background-color: var(--celeste);
    padding: 1%;
}
.tamano-icon{
    font-size: 40px;
    color: var(--blanco);
}
